name: fan_zone
description: "FAN ZONE - Soccer Pitch Booking & Social Platform"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  dio: ^5.9.1
  get: ^4.7.3
  flutter_secure_storage: ^9.2.4
  socket_io_client: ^3.0.2
  qr_flutter: ^4.1.0
  mobile_scanner: ^6.0.5
  google_maps_flutter: ^2.10.0
  uuid: ^4.5.1
  intl: ^0.20.2
  cached_network_image: ^3.4.1
  shimmer: ^3.0.0
  url_launcher: ^6.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

flutter:
  uses-material-design: true
  assets:
    - assets/

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/app_icon.png"
  min_sdk_android: 21